* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --height:11vmin;
}


.container {
  --mode-color-1: #070b32;
  --mode-color-2: #200320;
  --mode-color-3: #1a1919;
  --sideColor: #363c7d;
  --topColor: #242d8f;
  --win-open: #cc336e99;
  --secondColor: #7e2647;
  --thirdColor: #621d38;
  --line-color: #070b32;
  --bush: #181b38;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #242d8f;
  background-image: linear-gradient(
    to top,
    var(--mode-color-1),
    var(--mode-color-2),
    var(--mode-color-3)
  );
  position: relative;
}
.container::before {
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  position: absolute;
  background-image: radial-gradient(circle, white 0 2%, #fff0 6% 100%),
    radial-gradient(circle, #fff0 0% 97%, #ffffff 99% 100%);
  background-size: 5% 15%, 5% 15%;
}

.container .building {
  width: 60%;
  position: relative;
  height: 100%;
  bottom: 2vmin;
  transform-style: preserve-3d;
  transform: rotateX(-9deg) rotateY(-10deg);
}

.stage {
  width: 32.5vmin;
  height: var(--height);
  position: absolute;
  transform-style: preserve-3d;
  left: 0;
  bottom: 0;
}
.stage.one {
  bottom: 0;
}
.stage.two {
  bottom: calc(var(--height) * 1);
}
.stage.three {
  bottom: calc(var(--height) * 2);
}
.stage.four {
  bottom: calc(var(--height) * 3);
}
.stage.five {
  bottom: calc(var(--height) * 4);
}
.stage.six {
  bottom: calc(var(--height) * 5);
}
.stage.sevin {
  bottom: calc(var(--height) * 6);
}
.stage .side {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stage .side.front {
  transform: rotateY(0deg) translateZ(16.2vmin);
  border-bottom: 5px solid var(--line-color);
}
.stage .side.back {
  transform: rotateY(180deg) translateZ(16.2vmin);
  border-bottom: 5px solid var(--line-color);
  background-image: repeating-conic-gradient(
      var(--bush) 0deg 45deg,
      var(--line-color) 45deg 90deg
    ),
    repeating-conic-gradient(
      var(--bush) 90deg 135deg,
      var(--line-color) 135deg 270deg
    );
  background-size: 50% 50%, 50% 50%;
}

.stage .side.left {
  transform: rotateY(90deg) translateZ(-16.2vmin);
  border-bottom: 5px solid var(--line-color);
}
.stage .side.right {
  transform: rotateY(270deg) translateZ(-16.2vmin);
  border-bottom: 5px solid var(--line-color);
}

/* roof */
.stage .side.top {
  width: 35vmin;
  height: 35vmin;
  transform: rotateX(90deg) translateZ(17.5vmin) translateX(-3%);
  background-color: var(--line-color);
  display: block;
  transform-style: preserve-3d;
}
.stage .side.top::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: radial-gradient(
    circle,
    #ffff00 0% 3%,
    #636302 3%,
    #fff0 10% 20%
  );
  background-size: 20% 30%;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}
.stage .side.top .face {
  width: 100%;
  height: 4vmin;
  border-top: 5px solid var(--topColor);
  border-bottom: 5px solid var(--topColor);
  transform: rotateX(90deg);
  background-image: repeating-conic-gradient(
      var(--bush) 0deg 45deg,
      var(--line-color) 45deg 90deg
    ),
    repeating-conic-gradient(
      var(--bush) 90deg 135deg,
      var(--line-color) 135deg 270deg
    );
  background-size: 5% 100%, 5% 100%;
}

.stage .side.top .face.front {
  transform: rotateX(90deg) translateZ(-24.9vmin) translateY(49%);
}
.stage .side.top .face.back {
  transform: rotateX(90deg) translateZ(14vmin) translateY(49%);
}
.stage .side.top .face.right {
  transform:rotateX(90deg) rotateY(90deg) translateZ(-17.4vmin) translateX(33%) translateY(53%);
}

.stage .side.top .face.left {
  transform: rotateX(90deg) rotateY(90deg) translateZ(17.5vmin) translateX(44%)
    translateY(49%);
}
/* window */

.stage .side .window {
  display: inline-block;
  width: 20%;
  height: 100%;
  border-left: 2.5px solid var(--line-color);
  border-right: 2.5px solid var(--line-color);
  position: relative;
}

.stage .side .window.close {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    var(--line-color) 0% 5%,
    var(--topColor) 5% 10%
  );
  background-size: 10% 10%;
}

.stage .side .window.small-light {
  background-image: repeating-linear-gradient(
    45deg,
    var(--line-color) 0% 8%,
    var(--secondColor) 8% 10%,
    var(--topColor) 10% 18%
  );
  background-size: 100% 10%;
}

.stage .side .window.open {
  background-color: var(--win-open);
}

.stage .side .window.half-open {
  background-color: var(--win-open);
  position: relative;
}

.stage .side .window.half-open::after {
  content: "";
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: repeating-linear-gradient(
    0deg,
    var(--line-color) 0% 5%,
    var(--topColor) 5% 10%
  );
  background-size: 10% 10%;
}

.stage .side .window.curtains {
  background-color: var(--win-open);
}
.stage .side .window.curtains::before,
.stage .side .window.curtains::after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: repeating-radial-gradient(
    circle,
    var(--line-color) 0% 30%,
    var(--topColor) 30% 60%
  );
  background-size: 100% 10%;
}
.stage .side .window.curtains::after {
  left: 70%;
}

/* input */

label,
input {
  font-weight: bolder;
  font-family: sans-serif;
  display: inline-block;
  margin-right: auto;
  position: fixed;
  bottom: 10%;
  right: 10%;
  background-color: var(--line-color);
  border: var(--topColor);
  padding: 10px;
  border-radius: 10px;
  color: white;
  line-height: 1.5em;
  z-index: 2;
  box-shadow: 0 0 10px 0;
}
input {
  z-index: -1;
}
/* change container var */
input:checked ~ .container {
  --mode-color-1: #a1bcc7;
  --mode-color-2: #23befc;
  --mode-color-3: #05adf0;
  --win-open: #3382cc99;
}
input:checked ~ .container::before {
  display: none;
}
/* bg */
.moon-sun {
  position: fixed;
  width: 50px;
  height: 50px;
  z-index: 2;
  right: 20%;
  top: 10%;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 white, 0 0 10px 0 #fff, 0 0 15px 0 #fff,
  0 0 20px 0 #fff, 0 0 25px 0 #fff, 0 0 30px 0 #fff;
  background-image: radial-gradient(circle,#fff,#afadad);
}
input:checked ~ .moon-sun {
  box-shadow: 0 0 5px 0 #fafa01, 0 0 10px 0 #fcfc10, 0 0 15px 0 #f5f532,
    0 0 20px 0 #fafa01, 0 0 25px 0 #fcfc10, 0 0 30px 0 #f5f532;
  background-image: radial-gradient(circle,#dfdf03,#fdfd28);
}
