*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --win-colos:#3D21D9;
    --win-open:#b721d956;
    --building-color:#5227819b;
    --line-color:#331453;
    --height:11%;

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
    perspective:1000px;
    /* perspective-origin: 10% 20%; */

}

.container .building{
    width: 60%;
    position: relative;
    height: 100%;
    bottom: 5%;
    transform-style: preserve-3d;
    transform: rotateX(5deg) rotateY(-10deg);
}

.stage{
    width: 400px;
    height: var(--height);
    position:absolute;
    transform-style: preserve-3d;
    left: 0;
    bottom: 0;

}
.stage.one{
    bottom: 0;
}
.stage.two{
    bottom: calc(var(--height) * 1);
}
.stage.three {
    bottom: calc(var(--height) * 2);
}
.stage.four {
    bottom: calc(var(--height) * 3);
}
.stage.five {
    bottom: calc(var(--height) * 4);
}
.stage.six {
    bottom: calc(var(--height) * 5);
}
.stage.sevin {
    bottom: calc(var(--height) * 6);
}
.stage .side{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style:preserve-3d ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.stage .side.front{
    transform: rotateY(0deg) translateZ(200px);
    border-bottom: 5px solid var(--line-color);
}
 .stage .side.back {
    transform: rotateY(180deg) translateZ(200px);
    border-bottom: 5px solid var(--line-color);
    background-color: #524f4f;
}

.stage .side.left{
    transform: rotateY(90deg) translateZ(-200px);
    border-bottom: 5px solid var(--line-color);

}
.stage .side.right {
    transform: rotateY(270deg) translateZ(-200px);
    border-bottom: 5px solid var(--line-color);
} 

.stage .side.top{
    width: 27em;
    height: 27em;
    transform: rotateX(90deg) translateZ(13.5em) translateX(-3%);
    background-color:var(--line-color);
    display: block;
}
.stage .side.bottom {
    width: 100%;
    transform: rotateX(90deg) translateY(-100px);
    /* background-color: black; */
    display: block;
}

.stage .side.top .face{
    width: 100%;
    height: 30px;
    border-top:5px solid var(--line-color) ;
    transform: rotateX(90deg);
    background-color: var(--building-color)

}

.stage .side.top .face.front{
    transform: rotateX(90deg) translateZ(-22.3em) translateY(49%);
}
.stage .side.top .face.back {
    transform: rotateX(90deg) translateZ(6em) translateY(49%);
}
.stage .side.top .face.right {
    transform: rotateX(90deg) rotateY(90deg) translateZ(-13.5em) translateX(40%) translateY(49%);
}

.stage .side.top .face.left {
    transform: rotateX(90deg) rotateY(90deg) translateZ(13.5em) translateX(47%) translateY(49%);
}

.stage .side .window{
    display: inline-block;
    width: 20%;
    height: 100%;
    border-left: 5px solid var(--line-color);
}

.stage .side .window.close {
    display: inline-block;
    width: 20%;
    height: 100%;
    background-image:repeating-linear-gradient(var(--win-colos) 0 5% ,black  10%)
}
.stage .side .window.open{
    background-color:var(--win-open);
}
.stage .side .window.half-open{
    background-color: linear-gradient(var(--win-open) 0% 50%, black 50%);
}

